.header-wrap {
    display: flex;
    height: 60px;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 150px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link,
.language-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #B7C1C5;
    padding-bottom: 20px;

    &:hover,
    &:focus {
        color:$firstDarkColor;
    }
}


.nav-search__wrap {
    margin-left: 60px;
    margin-right: 150px;
}

.nav-search__label {
    margin-right:  10px;
}

.nav-search {
    width: 150px;
    border: none;
    border-bottom: 1px solid $firstDarkColor;
    outline: none;
}

.language-list {
    display: flex;
    margin-right: 90px;
}

.language-item:not(:last-child) {
    margin-right: 20px;
}

.like-list {
    display: flex;
    margin-left: auto;
}

.like-item:not(:last-child) {
    margin-right: 15px;
}

.like-svg {
    fill: #ffffff;
    stroke: $firstDarkColor;
}

.active_page {
    color:$firstDarkColor;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #E64926;
    }
}