.popular {
    // position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.popular-title {
    font-family: $secondFontFamily;
    font-size: 30px;
    color: $firstDarkColor;
    text-align: center;
    margin-bottom: 60px;
}

.popular-list__thumb {
    position: relative;
}

.popular-list {
    display: flex;
    justify-content: center;
    position: relative;
}

.popular-list__item {
    // position: relative;

    &:not(:last-child) {
        margin-right: 60px;
    }
}

.popular-img__thumb {
    height: 365px;
    width: 230px;
}

.popular-img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.popular-description__thumb {
    padding-top: 20px;
    color: $firstDarkColor;

    & > h3 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
    }

    & > p {
        text-align: center;
        font-size: 16px;
        margin-bottom: 10px;
    }

    & .popular-price {
        margin-left: auto;
        margin-right: auto;        
        text-align: center;
    }

    & .popular-price__old {
        text-decoration: line-through;
        color: $firstGrayColor;
        font-size: 14px;
        margin-right: 5px;
    }

    & .popular-price__current {
        color: $firstRedColor;
        font-size: 14px;
        font-weight: 500;
    }
}

.popular__go-left {
    display: flex;
    position: absolute;
    top: 180px;
    left: 50px;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $secondLiteColor;
    transform: translateY(-50%);
}

.popular__go-right {
    display: flex;
    position: absolute;
    top: 180px;
    right: 50px;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $secondLiteColor;
    transform: translateY(-50%);
}