$fontFamily: 'Montserrat', sans-serif;
$secondFontFamily: 'Cormorant', serif;
$firstDarkColor: #0F303F;
$firstLiteColor: #EAE9E8;
$secondLiteColor: #ffffff;
$firstBackgroundColor:#2f303a;
$secondBackgroundColor: #254A5A;
$firstGrayColor: #CECECE;
$firstRedColor: #FD5454;